
.SearchForm{
    max-width: 1024px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.SearchForm-input{
    width: 400px;
    padding: 10px 12px;
    font-size: 18px;
}

.SearchForm-button{
    cursor: pointer;

}

 @media screen and (max-width: 1200px) {
     .header-wrapper {
         width: 80%;
     }

 }