body {
  box-sizing: border-box;
  background-color: rgb(251, 248, 245);
  margin: 0;
  padding: 0;
}

.Movies-container {
  padding-top: 24px;
  width: 100%;
  margin: 0 auto;
}

.homeTitle {
  display: flex;
  justify-content: center;
  text-shadow: 2px 1px rgb(225, 201, 43);
}

.MovieCardsGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}




